.Rproj.user
.Rhistory
.RData
.Ruserdata
aoc_all_records.csv
award_box_[lot.pdf
aoc_all_records_1.csv
aoc_all_records_3.csv
aoc_all_records_2.csv
results_all_records_table.csv
results_all_records_table_2.csv
results_all_records_table_3.csv
results_all_records_table_4.csv
states_vaccine.csv
3e563fd0-8ea1-43eb-8db7-3cf3e23174512020330-1-layr7d.ivha.shp
